<!DOCTYPE html>
<html lang="en">
<header>
    <#include "/includes/header.html" />
    <link href="${tx.getContextPath()}/css/plugins/dataTables/dataTables.bootstrap.css?v=1.1" rel="stylesheet">
</header>
<body>
<nav class="breadcrumb">
    <div class="text-left float"></div>
    <i class="Hui-iconfont">&#xe67f;</i>首页 <span class="c-gray en">&gt;</span>工作台

    <span class="c-gray en">&gt;</span>项目管理


    <a class="btn btn-success radius r mr-20 "  style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新">刷新</a></nav>
<div class="pd-20">
    <div class="text-center">
        <form action="${tx.getContextPath()}/transaction/pageList" method="post" id="form" class="form-inline">
            <input type="hidden" value="${(pageList.total)!'0'}" name="totalCount" id="totalCount"/>
            <input type="hidden" value="${(pageList.size)!'10'}" name="pageSize" id="pageSize"/>
            <input type="hidden" value="${(dto.pageNo)!'1'}" name="pageNo" id="pageNo"/>
            <label class="font-noraml">项目名称:</label>
             <input type="text" class="input-sm form-control" name="projectName" value="${(dto.projectName)!''}" />
            <label class="font-noraml">批次:</label>
               <input type="text" class="input-sm form-control" name="batchNo" value="${(dto.batchNo)!''}" />

            <button type="submit" class="btn btn-success" id="searchBtn">搜索</button>
            <div class="text-right">
            <button type="button" class="btn btn-success" id="btnAdd">添加</button>

            </div>
        </form>
    </div>
    <table class="table table-border table-bordered table-hover table-bg table-sort " style="margin: 20px;">
        <tr class="text-c">
            <th>id</th>
            <th>批次号</th>
            <th>项目名称</th>
            <th>备注</th>
            <th>更新者</th>
            <th>创建时间</th>
            <th>更新时间</th>
            <th>操作</th>

        </tr>
        <#list pageList.records as item>
        <tr>

            <td>${item.id?c}</td>
            <td> ${item.projectName!'-'}</td>
            <td>${item.projectBatchNo!'-'}</td>
            <td>${item.remark!'-'}</td>
            <td>${item.updateUserName!'-'}</td>
            <td>${(item.createTime?string("yyyy-MM-dd HH:mm:ss"))!}</td>
            <td>${(item.updateTime?string("yyyy-MM-dd HH:mm:ss"))!}</td>
            <td><button type="button" class="btn btn-success" id="btnView">查看</button>
            <button type="button" class="btn btn-success" id="btnEdit">编辑</button>
            <button type="button" class="btn btn-success" id="btnDelete">删除</button>
            </td>
        </tr>
    </#list>
    </table>
    <div class="page-wrapper">
        <div class="page_con pagination" id="page" <#if (pageList.total)?? && (pageList.total) == 0>style="display: none;"</#if> > </div>
        <div class="dataTables_info" id="editable_info" style="float: right;" >总共 ${(pageList.total)!'0'} 条</div>
    </div>


</div>


<#include "/includes/footer.html" />
<script src="${tx.getContextPath()}/js/plugins/datapicker/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="${tx.getContextPath()}/js/pagination/page.js"></script>
<script type="text/javascript">

    $(function () {
        totalCount = parseInt($.trim($("#totalCount").val()));
        pageSize = parseInt($.trim($("#pageSize").val()));
        pageNo = parseInt($.trim($("#pageNo").val()));
        $("#page").pagination({
            totalCount: totalCount,
            pageSize: pageSize,
            currentPage: pageNo - 1,
            seriesShowCount: 6,
            bothSidesShowCount : 1,
            clickEvent: function (page_index) {
                $("#pageNo").val(page_index + 1);
                $("#form").submit();
            }
        });
    });
    function editProject(projectId) {

    }
</script>
</body>

</html>