<!DOCTYPE html>
<html lang="en">
<header>
    <#include "/includes/header.html" />
    <link href="${tx.getContextPath()}/css/plugins/dataTables/dataTables.bootstrap.css?v=1.1" rel="stylesheet">
</header>
<body>
<nav class="breadcrumb">
    <div class="text-left float"></div>
    <i class="Hui-iconfont">&#xe67f;</i>首页 <span class="c-gray en">&gt;</span>工作台
    <#if dto.userType="1">
    <span class="c-gray en">&gt;</span>elp交易明细
    <#elseif  dto.userType="2">
    <span class="c-gray en">&gt;</span>lp交易明细
    </#if>

    <a class="btn btn-success radius r mr-20 "  style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新">刷新</a></nav>
<div class="pd-20">
    <div class="text-center">
        <form action="${tx.getContextPath()}/transaction/pageList" method="post" id="form">
            <input type="hidden" value="${(pageList.total)!'0'}" name="totalCount" id="totalCount"/>
            <input type="hidden" value="${(pageList.size)!'10'}" name="pageSize" id="pageSize"/>
            <input type="hidden" value="${(dto.pageNo)!'1'}" name="pageNo" id="pageNo"/>
            <input type="hidden" value="${(dto.tranactionType)!'1'}" name="tranactionType" id="tranactionType"/>
            <label>日期：</label>
            <input type="text" name="startDate" value="${(dto.startDate)!''}" class="input-text " style="width:120px;">至
            <input type="text" name="endDate" value="${(dto.endDate)!''}" class="input-text " style="width:120px;">
            <button type="submit" class="btn btn-success" id="searchBtn">搜索</button>
        </form>
    </div>
    <table class="table table-border table-bordered table-hover table-bg table-sort " style="margin-top: 10px;">
        <tr class="text-c">

            <th>id</th>
            <th>交易时间</th>
            <th>发起用户</th>
            <th>接收用户</th>
            <th>交易金额</th>
            <th>创建时间</th>

        </tr>
        <#list pageList.records as item>
        <tr>
            <td>${item.id?c}</td>
            <td>${(item.transactionTime?string("yyyy-MM-dd HH:mm:ss"))!}</td>
            <td>${item.fromUserAddress!'-'}</td>
            <td>${item.toUserAddress!'-'}</td>
            <td>${item.transactionAmount!'-'}</td>
            <td>${(item.createTime?string("yyyy-MM-dd HH:mm:ss"))!}</td>
        </tr>
    </#list>
    </table>
    <div class="page_con pagination" id="page" <#if (pageList.total)?? && (pageList.total) == 0>style="display: none;"</#if> > </div>
</div>


<#include "/includes/footer.html" />
<script type="text/javascript" src="${tx.getContextPath()}/js/pagination/page.js"></script>
<script type="text/javascript">

    $(function () {
        totalCount = parseInt($.trim($("#totalCount").val()));
        pageSize = parseInt($.trim($("#pageSize").val()));
        pageNo = parseInt($.trim($("#pageNo").val()));
        $("#page").pagination({
            totalCount: totalCount,
            pageSize: pageSize,
            currentPage: pageNo - 1,
            clickEvent: function (page_index) {
                $("#pageNo").val(page_index + 1);
                $("#form").submit();
            }
        });
    });
</script>
</body>

</html>