<!-- 全局js -->
<script src="${tx.getContextPath()}/js/jquery.min.js?v=2.1.4"></script>
<script src="${tx.getContextPath()}/js/bootstrap.min.js?v=3.3.6"></script>
<script src="${tx.getContextPath()}/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="${tx.getContextPath()}/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="${tx.getContextPath()}/js/plugins/layer/layer.min.js"></script>

<!-- 自定义js -->
<script src="${tx.getContextPath()}/js/hplus.js?v=4.1.0"></script>
<script type="text/javascript" src="${tx.getContextPath()}/js/contabs.js"></script>

<!-- 第三方插件 -->
<script src="${tx.getContextPath()}/js/plugins/pace/pace.min.js"></script>