<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="nav-close"><i class="fa fa-times-circle"></i>
    </div>
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                               <span class="block m-t-xs"><strong class="font-bold">cycan</strong></span>
                                <span class="text-muted text-xs block">cycan<b class="caret"></b></span>
                                </span>
                    </a>

                </div>

            </li>
            <li>
                <a href="#">
                    <i class="fa fa-home"></i>
                    <span class="nav-label">工作台</span>
                    <span class="fa arrow"></span>
                </a>

                <ul class="nav nav-second-level collapse in" aria-expanded="true" >
                    <li>
                        <a class="J_menuItem" href="/user/pageList?userType=1" data-index="0">ELP余额明细</a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="/user/pageList?userType=2">LP余额明细</a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="/transaction/pageList?tranactionType=1">ELP交易明细</a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="/transaction/pageList?tranactionType=2">LP交易明细</a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="/daily/pageList">统计报表</a>
                    </li>

                </ul>

            </li>


        </ul>
    </div>
</nav>