.u-breadcrumb {
    line-height: 22px;
    font-size: 15px;
    color: #666
}

.u-breadcrumb span,
.u-breadcrumb a {
    padding-right: 5px
}

.page-wrapper{
    display: flex;
    justify-content: center;
align-items: center;
}
.page-wrapper,.dataTables_info{
    margin-top: 25px;
}